
.faq-page{
    .navbar{
        .container-fluid{
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }
    .faq-header{
        padding: 100px 0px;
        h6{
            color: #396bb3;
        }
        h1{
            margin-top: 10px;
            font-weight: 700;
        }
        P{
            padding: 10px 30px;
        }
    }
}

