
.reset-password-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;

  .reset-form-container {
    position: relative;
    background: #eeeeee;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    width: 50% !important;
    > *:not(.overlay) {
      background-color: transparent;
    }
    .btn-close-reset {
      position: absolute;
      top: 1rem;
      right: 1rem;
      background: none;
      border: none;
      font-size: 1.1rem;
      cursor: pointer;
    }
    h2 {
      padding: 0px 20px 20px 20px;
      color: #333;
      text-align: center;
      margin-bottom: 1.5rem;
      font-weight: 700;
      background-color: transparent;
    }
    
    .form-group {
      margin-bottom: 2rem;
      background-color: transparent;
      *{
        background-color: transparent;
      }
      label {
        display: block;
        margin-bottom: 6px;
        font-size: .875rem;
        font-weight: 600;
        color: #0b1418;
      }

      .input-wrapper {
        position: relative;

        input {
          color: #0b1418b9;
          width: 100%;
          padding: 10px 40px 10px 12px;
          border: 2px solid #ffc31054;
          border-radius: 8px;
          font-size: 0.95rem;
          box-shadow: 0px 0px 4px 2px transparent;
          transition: all 0.3s;

          &:focus {
            outline: none;
            border: 2px solid transparent;
            box-shadow: 0px 0px 4px 2px #FFC310;
          }
          &::placeholder{
            font-size: 0.8rem;
          }
        }

        .eye-icon {
          position: absolute;
          right: 10px;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          font-size: 1.2rem;
          font-weight: 700;
          color: #333;
        }
      }
    }
    .container-btn-update-password{
      display: flex;
      justify-content: center;
      background-color: transparent;
      .btn-reset {
        width: 50%;
        background-color: #FFC310;
        color: white;
        padding: 10px;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
  
        &:hover {
          background-color: #e2aa00;
          transform: scale(1.05);
        }
      }
    }
    

    .error-message {
      font-size: 0.8rem;
      margin-bottom: 2.5rem;
      text-align: start;
      color: #e63946;
      background-color: transparent;
    }

    .success-message {
      font-size: 0.8rem;
      margin-bottom: 2.5rem;
      text-align: start;
      color: #2a9d8f;
      background-color: transparent;
    }
  }
}