
.user-circle-button {
    .circle {
      background-color: #396bb3;
      color: white;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      font-weight: medium;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      font-size: 20px;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #396bb3;
        scale: 1.1;
        transition: scale 0.3s ease-in-out;
      }
  
      i {
        font-size: 20px;
      }
  
      &:focus {
        outline: none;
      }
    }
  }
  