
.chat-window-wrapper {
  background-color: transparent;

  .chat-window-toggle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px !important;
    height: 50px !important;
    background-color: #0B1418 !important;
    box-shadow: 0px 0px 8px #4B61A6;
    cursor: pointer;
    .span,
    .toggle-text {
      display: none !important; // 👈 Oculta cualquier texto
    }
    svg {
      width: 30px;
      height: 30px;
      transition: transform 0.3s ease;
      path {
        fill: #4B61A6;
      }
    }
    &:hover {
      transform: scale(1.15);
      transition: transform 0.3s ease;
      box-shadow: 0px 0px 15px 2px #4B61A6;
    }
  }
  
    .chat-window {
      width: 320px !important;
      height: 450px !important;
      border-radius: 10px !important;
      margin-right: 50px !important;
      margin-bottom: 50px !important;
  
      .chat-layout {
        background-color: white;
  
        * {
          color: white;
        }
  
        .chat-header {
          background-color: black !important;
          color: white;
          padding: 10px;
          border-bottom: 1px solid #ddd;
          display: flex;
          justify-content: start;
          align-items: start;
  
          .okapi-heading-wrapper {
            background-color: transparent;
            display: flex;
            align-items: center;
            gap: 10px;
  
            * {
              color: black !important;
            }
  
            .okapi-text {
              background-color: transparent;
              color: white !important;
              white-space: nowrap;
              font-size: 1.1rem;
            }
  
            .okapi-icon {
              background-color: transparent;
              width: 52px !important;
              height: 52px !important;
              border-radius: 50%;
            }
          }
  
          .okapi-text {
            font-weight: bold;
            font-size: 1.1rem;
          }
        }
  
        .chat-body {
          margin-bottom: 15px;
          background-color: transparent;
  
          .chat-messages-list {
            margin-top: 0px;
            padding-bottom: 200px;
            height: 100%;
            background-color: white;
  
            .chat-message-from-bot {
              .chat-message-markdown {
                background-color: #D9D9D9;
  
                * {
                  background-color: #D9D9D9;
                }
  
                ol li::marker {
                  color: black;
                }
  
                ol li p strong {
                  color: black;
                }
              }
            }
  
            .chat-message.chat-message-from-bot:not(.chat-message-transparent),
            p {
              background-color: #D9D9D9;
              color: #333;
              font-size: 0.9rem;
            }
  
            .chat-message.chat-message-from-bot:not(.chat-message-transparent) {
              border-radius: 15px 15px 15px 0px;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
              padding: 10px;
            }
  
            .chat-message-from-user {
              background-color: #4B61A6;
              border-radius: 15px 15px 0px 15px;
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  
              .chat-message-markdown p {
                background-color: #4B61A6;
              }
            }
  
            .chat-message-typing-body {
              background-color: #D9D9D9;
            }
  
            .chat-input-send-button {
              background-color: #4B61A6 !important;
              color: black !important;
              border-radius: 5px;
              padding: 8px 15px;
              cursor: pointer;
  
              &:hover {
                background-color: #218838;
              }
            }
          }
        }
  
        .chat-footer {
          .chat-input {
            .chat-inputs {
              background-color: white;
              padding: 15px 25px !important;
  
              textarea {
                padding: 0px;
                font-size: 0.9rem;
                color: black !important;
              }
  
              .chat-inputs-controls {
                .chat-input-send-button {
                  background-color: white;
                  width: 30px !important;
                  height: 30px;
  
                  &:hover {
                    scale: 1.05;
                    background-color: white;
                  }
  
                  svg {
                    background-color: transparent;
                    filter: invert(100%);
                    width: 24px !important;
                    height: 24px;
  
                    &:hover {
                      scale: 1.15;
                      background-color: transparent !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
}
  