.tw-fixed {
  position: fixed !important
}

.tw-right-4 {
  right: 1rem !important
}

.tw-top-4 {
  top: 1rem !important
}

.tw-z-\[9999\] {
  z-index: 9999 !important
}

.tw-mb-6 {
  margin-bottom: 1.5rem !important
}

.tw-text-balance {
  text-wrap: balance !important
}

.tw-rounded {
  border-radius: 0.25rem !important
}

.tw-bg-red-500 {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity)) !important
}

.tw-px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important
}

.tw-py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important
}

.tw-text-4xl {
  font-size: 2.25rem !important;
  line-height: 2.5rem !important
}

.tw-font-bold {
  font-weight: 700 !important
}

.tw-tracking-tight {
  letter-spacing: -0.025em !important
}

.tw-text-red-800 {
  --tw-text-opacity: 1 !important;
  color: rgb(153 27 27 / var(--tw-text-opacity)) !important
}

.tw-text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity)) !important
}

.tw-drop-shadow {
  --tw-drop-shadow: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06)) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow) !important
}

@media (min-width: 640px) {
  .sm\:tw-text-5xl {
    font-size: 3rem !important;
    line-height: 1 !important
  }
}

@media (min-width: 1024px) {
  .lg\:tw-text-6xl {
    font-size: 3.75rem !important;
    line-height: 1 !important
  }
}